<% provide(:title, @user.name) %>
<div>
  <table class = "table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
        <%= l(@first_day, format: :middle) %>時間管理表
        <%= link_to "→", user_path(date: @first_day.next_month),class: "btn btn-primary" %>
      </td>
      <td>
        指定勤務開始時間&nbsp;&nbsp;<%= format_basic_info(@user.designated_work_start_time) %><br>
        指定勤務終了時間<%= format_basic_info(@user.designated_work_end_time) %>
      </td>
      <td colspan = "3">基本時間<%= format_basic_info(@user.basic_work_time) %></td>
      <td>初日&nbsp;&nbsp;<%= l(@first_day, format: :short) %></td>
    </tr>
    
    <tr>
      <td>所属&nbsp;<%= @user.affiliation.present? ? @user.affiliation: "未所属" %></td>
      <td>氏名&nbsp;&nbsp;<%= @user.name %></td>
      <td>コード</td> 
      <td><%=@user.employee_number %></td>
      <td>出勤日数&nbsp;&nbsp;<%= @worked_sum %>日</td>
      <td>締め <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div class = "superior-link">
  <% if @user.superior? %>
    <% if @one_month_sum > 0 %>
      <%= link_to "【所属長承認申請のお知らせ】", edit_one_month_approval_user_attendance_path(@user), remote: true, class:"btn-superior" %>
      <span style= "border: sold 2px red; color: red;"> 
      <%= link_to "#{@one_month_sum}件の通知があります", edit_one_month_approval_user_attendance_path(@user), remote: true, class: "btn-superior" %></span><br>
    <% else %>
      <%= "【所属長承認申請のお知らせ】" %><br>
    <% end %>
    <% if @change_sum > 0 %>
      <%= link_to "【勤怠変更申請のお知らせ】", edit_request_change_user_attendance_path(@user), remote: true, class: "btn-superior" %>
      <span style= "border: solid 2px red; color: red;">
      <%= link_to "#{@change_sum}件の通知があります", edit_request_change_user_attendance_path(@user), remote: true, class:"btn-superior" %></span><br>
    <% else %>
      <%= "【勤怠変更申請のお知らせ】" %><br>
    <% end %>
    <% if @overtime_sum > 0 %>
      <%= link_to "【残業申請のお知らせ】", edit_request_overtime_user_attendance_path(@user), remote: true, class: "btn-superior" %>
      <span style= "border: sold 2px red; color: red;">
      <%= link_to "#{@overtime_sum}件の通知があります。", edit_overtime_approval_user_attendance_path(@user), remote: true, class: "btn-superior" %></span><br>
    <% else %>
        <%= "【残業申請のお知らせ】" %><br>
    <% end %>
  <% end %>
</div>

<div class="btn-attendance">
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>&nbsp;&nbsp;
  <%= link_to "CSV出力", import_users_path(format: :csv), class: "btn btn-primary" %>&nbsp;&nbsp;
  <%= link_to "勤怠修正ログ（承認済）", edit_fix_log_user_attendance_path(@user), class: "btn btn-primary" %>
</div>

<div>
  <table class = "table table-bordered table-condensed table-striped" id = "table">
    <thead>
      <tr>
        <th rowspan = "3", width = 50>残業申請</th>
        <th rowspan = "3", width = 20>日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "7", width = 100>【実績】</th>
        <th colspan = "6", width = 100>所定外勤務</th>
      </tr>
      <tr>
        <th rowspan = "2", width = 20></th>
        <th colspan = "2">出社</th>
        <th colspan = "2">退社</th>
        <th rowspan = "2", width = 50>在社時間</th>
        <th rowspan = "2", width = 100>備考</th>
        <th colspan = "2", width = 10>終了予定時間</th>
        <th rowspan = "2", width = 50>時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= link_to "残業申請", edit_request_overtime_user_attendance_path(@user, day.id), remote: true, class: "btn btn-primary" %></td><!--remote:true ajax通信で画面遷移することなく、データを保存してページの一部だけ更新することが出来る。-->
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class='<%= "wday#{day.worked_on.wday}" %>'><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td width = 100>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= l(day.started_at, format: :hour)  if day.started_at.present? %></td>
          <td><%= l(day.started_at, format: :minute) if day.started_at.present? %></td><!--minuteをja.yml/ formats:にminute: "%M"を追加-->
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= l(day.finished_at, format: :minute) if day.finished_at.present? %></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= day.scheduled_end_time.strftime("%H") if day.scheduled_end_time.present? %></td>
          <td><%= day.scheduled_end_time.strftime("%M") if day.scheduled_end_time.present? %></td>
          <td>
            <% if day.scheduled_end_time.present? %><!--時間外時間を計算-->
              <%= working_overtimes(@user.desingnated_worked_end_time, day.next_day) %>
            <% end %>
          </td>
          <td><%= day.work_description %></td>
          <td>
            <% if day.request_overtime_status == "申請中" %>
              <%= "#{day.request_overtime_superior}へ残業#{day.request_overtime_status}" %>
            <% elsif day.request_overtime_status == "承認" || day.request_overtime_status == "否認" %>
              <%= "#{day.request_overtime_superior}からの残業#{day.request_overtime_status}" %>
            <% elsif day.request_overtime_status == "なし" %>
              <%= "#{day.request_overtime_superior}からの承認なし" %>
            <% end %>
            <% if day.request_change_status == "申請中" %>
              <%= "#{day.request_change_superior}へ勤怠変更#{day.request_change_status}" %>
            <% elsif day.request_change_status == "承認" || day.request_change_status == "否認" %>
              <%= "#{day.request_change_superior}より勤怠変更#{day.request_change_status}" %>
            <% elsif day.request_change_status == "なし" %>
              <%= "#{day.request_change_superior}より勤怠変更なし" %>
            <% end %>
          </td>  
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan:横結合-->
      <tr>
        <td></td>
        <td colspan = "2">累計日数</td>
        <td colspan = "5">総合勤務時間</td>
        <td colspan = "2">累計在社時間</td>
        <td colspan = "3" rowspan = "2"></td>
        <td colspan = "2" rowspan = "2">
          <label>所属長承認 未</label><br>
            <select class="d-grid gap-2 col-3 mx-auto">
              <button type="button" class= "btn btn-outline-dark btn-block" id= "select">Dark<span "caret"></span>
                <option >選択して下さい</option>
                <option ><%= link_to "上長A", "#" %></option>
                <option ><%= link_to "上長B", "#" %></option>
              </button>
            </select>
            
          <button type="button" class="btn btn-primary btn-block">申請</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan = "2"><%= @attendances.count %></td>
         <td colspan = "5"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td> 
        <td colspan = "2"><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-request-overtime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id= "edit-overtime-approval" class= "modal fade" tabindex= "-1" role= "dialog" aria-hidden= "true"></div>
<div id= "edit-one-month-approval" class= "modal fade" tabindex= "-1" role= "dialog" aria-hidden= "true"></div>
<div id= "edit-request-change" class= "modal fade" tabindex= "-1" role= "dialog" aria-hidden= "true"></div>
