<% provide(:title, "拠点一覧") %>

  <h1>拠点一覧</h1>
    <div class= "col-md-10 col-md-offset-1">
      <table class = "table table-bordered table-condensed table-hover" id = "table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>拠点番号</th>
            <th>拠点名</th>
            <th>勤怠種類</th>
          </tr>
        </thead>
        
        <% @bases.each do |base| %>
          <tbody>
            <tr>
              <td><%= link_to "修正", edit_basis_path(base), remote: true, class: "btn btn-primary" %></td>
              <td><%= link_to "削除", base, method: :delete, data: { confirm: "削除してよろしいですか?" }, class: "btn btn-primary" %></td>
              <td><%= base.base_number %></td>
              <td><%= base.base_name %></td>
              <td><%= base.base_type %></td>
            </tr>
          </tbody>
        <% end %>
    </table>
      <tr>
        <td colspan="5">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading", "panel panel-primary">
                <div class="panel-title">
                  <button type="button" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#collapse" %>拠点情報追加</button>
                </div>
              </div>
              <div id="collapse" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= render 'bases/new' %>
                </div>
              </div>
            </div>
        </td>
      </tr>  
    </div>      

<!--モーダルウィンドウ表示-->
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
