<% provide(:btn_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row"><!-- 横並びにしたいコンテンツがある時使用 -->
        <div class= "col-md-12">
          <%= form_with(model: @user, url: update_overtime_approval_user_attendance_path(@user), local: true, method: :patch) do |f| %>
            <% @attendances.each do |id, attendances| %>
              <% user = User.find(id) %>
              <h1 class="modal-title"><%= "【#{user.name}からの残業申請】"%></h1>
                <table class= "table table-bordered table-condensed table-hover" id= "table-attendances">
                  <thead>
                    <tr>
                      <th rowspan="2">日付</th>
                      <th rowspan="2">曜日</th>
                      <th colspan="2">終了予定時間</th>
                      <th colspan="2">指定勤務終了時間</th>
                      <th rowspan="2">時間外時間</th>
                      <th rowspan="2">業務処理内容</th>
                      <th rowspan="2">指示者確認㊞</th>
                      <th rowspan="2">変更</th>
                      <th rowspan="2">勤怠を確認する</th>
                    </tr>
                    <tr>
                      <th>時</th>
                      <th>分</th>
                      <th>時</th>
                      <th>分</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% attendances.each do |day| %>
                      <%= f.fields_for "attendances[]", day do |a| %>
                        <tr>
                          <td><%= l(day.worked_on, format: :short) if day.worked_on.present? %></td>
                          <td class= '<%= "wday#{day.worked_on.wday}" %>'><%= $days_of_the_week[day.worked_on.wday] %></td>
                          <td><%= l(day.scheduled_end_time, format: :hour) if day.scheduled_end_time.present? %></td>
                          <td><%= l(day.scheduled_end_time, format: :minute) if day.scheduled_end_time.present? %></td>
                          <td><%= l(user.designated_work_end_time, format: :hour) if user.designated_work_end_time.present? %></td>
                          <td><%= l(user.designated_work_end_time, format: :minute) if user.designated_work_end_time.present? %></td>
                          <td>
                            <% if day.scheduled_end_time.present? %>
                              <%= working_overtimes(user.designated_work_end_time, day.scheduled_end_time, day.overtime_next_day) %> 
                            <% end %>
                          </td>
                          <td><%= day.work_description %></td>
                          <td><%= a.select :request_overtime_status, [:なし, :申請中, :承認, :否認] %></td>
                          <td><%= a.check_box :overtime_check %></td>
                          <td><%= link_to "確認", show_verify_user_path(user, date: day.worked_on.beginning_of_month),class: "btn btn-primary" %></td>
                        </tr>
                      <% end %>
                    <% end %>  
                  </tbody>
                </table>
                <div class = "center">
                  <%= f.submit yield(:btn_text), class: "btn btn-primary btn-block" %>
                </div>
            <% end %>
          <% end %>  
        </div>
      </div>
    </div>
  </div>
</div>