<!-- 勤怠変更申請モーダル -->
<% provide(:btn_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row"><!-- 横並びにしたいコンテンツがある時使用 -->
        <div class= "col-md-12">
         <%= form_with(model: @user, url: update_request_change_user_attendance_path(@user), method: :patch, local: true) do |f| %>
           <% @attendances.each do |id, attendances| %>
             <% user = User.find(id) %>
             <h1 class="modal-title"><%= "【#{user.name}からの勤怠変更申請】" %></h1>
               <table class= "table table-bordered table-condensed" id= "table">               
                 <thead>
                   <tr>
                     <th rowspan="3">日付</th>
                     <th rowspan="3">曜日</th>
                     <th colspan="4">変更前</th>
                     <th colspan="4">変更後</th>
                     <th rowspan="3">備考</th>
                     <th rowspan="3">指示者確認㊞</th>
                     <th rowspan="3">変更</th>
                     <th rowspan="3">勤怠を確認する</th>
                   </tr>
                   <tr>
                     <th colspan="2">出社</th>
                     <th colspan="2">退社</th>
                     <th colspan="2">出社</th>
                     <th colspan="2">退社</th>
                   </tr>
                   <tr>
                     <th>時</th>
                     <th>分</th>
                     <th>時</th>
                     <th>分</th>
                     <th>時</th>
                     <th>分</th>
                     <th>時</th>
                     <th>分</th>
                   </tr>
                 </thead>
                 <tbody>
                   <% attendances.each do |day| %>
                     <%= f.fields_for "attendances[]", day do |attendance| %>
                       <tr>
                         <td><%= l(day.worked_on, format: :short) %></td>
                         <td><%= $days_of_the_week[day.worked_on.wday] %></td>
                         
                        <td><%= day.started_at.try(:strftime, "%H") %></td>
                        <td><%= day.started_at.try(:strftime, "%M") %></td>
                        <td><%= day.finished_at.try(:strftime, "%H") %></td>
                        <td><%= day.finished_at.try(:strftime, "%M") %></td>
                        
                        <td><%= day.after_started_at.try(:strftime, "%H") %></td>
                        <td><%= day.after_started_at.try(:strftime, "%M") %></td>
                        <td><%= day.after_finished_at.try(:strftime, "%H") %></td>
                        <td><%= day.after_finished_at.try(:strftime, "%M") %></td>
                         
                         <td><%= day.note %></td>
                         <td><%= attendance.select :request_change_status,["申請中", "承認", "否認", "なし"] %></td>
                         <td><%= attendance.check_box :change_check %></td>
                         <td><%= link_to "確認", show_verify_user_path(user, date: day.worked_on.beginning_of_month), class: "btn btn-primary" %></td>
                       </tr>  
                     <% end %>
                   <% end %>
                 </tbody> 
               </table>
             <%= f.submit yield(:btn_text), class: "btn btn-primary btn-block" %>
           <% end %>  
         <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
