<% provide(:title, '勤怠ログ') %>

  <h1>勤怠ログ</h1>
  <!--f.date_select(メソッド名, オプション={}, HTML属性={} or イベント属性={})-->
  <div class= "col-md-2">
    <%= form_with(url: edit_fix_log_user_attendance_path(@user), method: :get, local: true) do |f| %>
      <%= f.date_select :select_year, { end_year: Time.now.year, prompt: "年", discard_month: true, discard_day: true }, { class: "form-control" } %>
      <%= f.date_select :select_month, { prompt: "月", discard_year: true, discard_day: true},{ class: "form-control" } %>
      <%= f.submit '検索', class: "btn btn-block" %>
      <%= f.submit 'リセット', class: "btn btn-block" %>
    <% end %>
  </div>

  <div class="row"><!-- 横並びにしたいコンテンツがある時使用 -->
    <div class= "col col-md-12">
      <table class= "table table-bordered" id = "table-attendances">
        <thead>
          <tr>
            <th>日付</th>
            <th>変更前出社時間</th>
            <th>変更前退社時間</th>
            <th>変更後出社</th>
            <th>変更後退社</th>
            <th>指示者</th>
            <th>承認日</th>
          </tr>
        </thead>
        <tbody>
          <% if @attendances.present? %>
            <% @attendances.each do |day| %>
              <tr>
                <td><%= l(day.worked_on, format: :default) %></td>
                <td><%= l(day.before_started_at, format: :time) if day.before_started_at.present? %></td>
                <td><%= l(day.before_finished_at, format: :time) if day.before_finished_at.present? %></td>
                <td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
                <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
                <td><%= day.request_change_superior %></td>
                <td><%= l(day.updated_at, format: :default) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div> 
  </div>
