<% provide(:title, '勤怠ログ') %>

  <h1>勤怠ログ</h1>
  
  <div class= "col-md-2">
    <%= form_with(url: edit_fix_log_user_attendance_path(@user), method: :get, local: true) do |f| %>
      <%= f.date_select(:worked_on, {prompt: ["年","月"], start_year: Date.current.year - 3, end_year: Date.current.year, discard_day: true, use_month_numbers: true}, {class: "form-control search"}) %>
      <%= f.submit '検索', class: "btn btn-block btn-primary" %>
    <% end %>
  </div>

  <div class="row"><!-- 横並びにしたいコンテンツがある時使用 -->
    <div class= "col col-md-12">
      <table class= "table table-bordered" id = "table-attendances">
        <thead>
          <tr>
            <th>日付</th>
            <th>変更前出社時間</th>
            <th>変更前退社時間</th>
            <th>変更後出社</th>
            <th>変更後退社</th>
            <th>指示者</th>
            <th>承認日</th>
          </tr>
        </thead>
        <tbody>
          <% @attendances.each do |day| %>
            <tr>
              <td><%= l(day.worked_on, format: :default) %></td>
              <td><%= l(day.before_started_at, format: :time) if day.before_started_at.present? %></td>
              <td><%= l(day.before_finished_at, format: :time) if day.before_finished_at.present? %></td>
              <td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
              <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
              <td><%= day.request_change_superior %></td>
              <td><%= l(day.updated_at, format: :default) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> 
  </div>
